.root {
    /* Expand to available space */
    flex-grow: 1;
  
    /* Dimensions */
    width: 100%;
    height: auto;
  
    /* Layout */
    display: flex;
    flex-direction: column;
  
    @media (--viewportMedium) {
      padding-top: 1px;
    }
  }
  
  .features {
    margin-bottom: 24px;
  
    @media (--viewportMedium) {
      margin-bottom: 32px;
    }
  }
  
  .error {
    color: var(--failColor);
  }
  
  .submitButton{
    max-width: 500px;
    width: 100%;
    border-radius: 16px;
    font-size: 22px;
    font-weight: 700;
    font-family: var(--fontFamilyRoboto);
    margin: auto;
    background: var(--marketplaceColor);
    min-height: 50px;
    margin-top: 50px;
  }
  