@import '../../styles/propertySets.css';

.root {
}

.newPasswordSection {
  margin-top: 16px;
  margin-bottom: 15px;
}

.confirmChangesSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 0;
  display: none;
}

.confirmChangesSectionVisible {
  display: block;
}

.confirmChangesTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 13px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.confirmChangesInfo {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 18px;
  font-family: var(--fontFamilyRoboto);
  color: rgba(85,82,99,0.51);
  @media (--viewportMedium) {
    margin-bottom: 48px;
  }
}

.bottomWrapper {
  margin-top: 46px;

  @media (--viewportMedium) {
    margin-top: 96px;
  }
}

.error {
  @apply --marketplaceH4FontStyles;
  color: var(--failColor);
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 24px 0;

  @media (--viewportMedium) {
    margin: 24px 0;
  }
}

.helperLink {
  @apply --marketplaceLinkStyles;
  color: var(--marketplaceColor);
  font-weight: 400;
  text-decoration: underline;
  font-style: italic;
}

.emailStyle {
  font-weight: var(--fontWeightBold);
  word-wrap: break-word;
}
.submitButton{
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  font-size: 22px;
  font-weight: 700;
  font-family: var(--fontFamilyRoboto);
  margin: auto;
  background: var(--marketplaceColor);
  min-height: 50px;
}