@import '../../styles/propertySets.css';

.root {
  @apply --marketplaceModalRootStyles;

  @media (--viewportMedium) {
    @apply --backgroundImage;
  }
}

.layoutWrapperMain {
  min-height: calc(100vh - var(--topbarHeight));

  @media (--viewportMedium) {
    min-height: calc(100vh - var(--topbarHeightDesktop));
  }
}

.submitEmailContent,
.genericErrorContent,
.emailSubmittedContent,
.emailNotVerifiedContent {
  @apply --marketplaceModalBaseStyles;
}
.submitEmailContent{
  flex-basis: 600px;
}
.titlecon{
  display: flex;
  align-items: center;
}
.bottomWrapper {
  @apply --marketplaceModalBottomWrapper;

  /* Align the helper links to the left since there isn't a Primary Button anymore */
  text-align: left;
  margin-top: 15px !important;
}

.modalIcon {
  @apply --marketplaceModalIconStyles;
  margin-bottom: 0;
  margin-right: 15px;
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
  @apply --marketplaceModalTitleStyles;
}

/* Paragraph for the Modal */
.modalMessage {
  @apply --marketplaceModalParagraphStyles;
}

/* Make the email pop */
.email {
  font-weight: var(--fontWeightHighlightEmail);
}

.helperLink {
  @apply --marketplaceLinkStyles;
  @apply --marketplaceModalHelperLink;
}

.helperText {
  @apply --marketplaceModalHelperText;
}
