
.nameContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  
    @media (--viewportMedium) {
      margin-top: 24px;
    }
  }


.firstName {
    width: calc(50% - 9px);
  
  }
  
  .lastName {
    width: calc(30% - 9px);
    margin-left: 3%;
  }
  
  .addMore {
    margin-top: 20px;
    width: calc(20% - 9px);
  }
  